# Virtual environments
neuralop-env/
fno-env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pt
*.png
*.pdf

# ML artifacts
*.pth
torch_extensions/

# OS files
.DS_Store

processed_data/
Pt_Model/
plots/

refer.md/
